
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table id="Users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Users</th>
            <th>Email</th>
            <th>Company</th>
            <th>UserType</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#Users").DataTable({
                ajax: {
                    url: "api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, user) {
                            return "<a href='/user/details/" + user.Id + "'>" + user.name + "</a>";
                        }
                    },
                    {
                        data: "addressinfo.email"
                    },
                    {
                        data: "company.name"
                    },
                    {
                        data: "type",
                        render: function (data) {
                            var uType = "";
                            if (data == 0) {uType = "SuperAdmin";}
                            else if (data == 1) {uType = "Admin";}
                            else if (data == 2) {uType = "User"; }
                            else if (data == 3) {uType = "Contact";
                            }
                            return uType;
                        }
                    }
                ]
            });
        })
    </script>
}